body {
    box-sizing: border-box;
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin: 0;
    background-color: white;
}

h1{
    background-color: #c03;
    color: white;
}

h1 {
    font-size: 36px;
    margin: 0;
    padding: 5px;
}

h2 {
    font-size: 14px;
    padding: 5px;
}

div {
    background-color: white;
}

iframe
    {
    height: 600px;
    width: 700px;
    position:absolute; 
    right: 28px;
    top: 100px;
}

table{
    position: absolute;
    top: 600px;
}